# connectcoind RPC settings (linearize-hashes)
rpcuser=someuser
rpcpassword=somepassword
#datadir=~/.connectcoin
host=127.0.0.1

#mainnet default
port=48172

#testnet default
#port=48175

#regtest default
#port=48184

#signet default
#port=48181

# bootstrap.dat hashlist settings (linearize-hashes)
max_height=313000

# bootstrap.dat input/output settings (linearize-data)

# mainnet
netmagic=d951a5e2
genesis=0000004b461aae33a4be0ee95ae8461155f2c48130bc8dd521adb71ec0d3e9a2
input=/home/example/.connectcoin/blocks

# testnet
#netmagic=03848e59
#genesis=000001c906bb16924aaa92ab23ba23616d7916ecfdc3a256c060dbe9ead948f3
#input=/home/example/.connectcoin/testnet3/blocks

# regtest
#netmagic=a54fc7d5
#genesis=197dd70fa5df793d1b9e4684f3c9608afcdae4b86f935c04e8187a48def347f6
#input=/home/example/.connectcoin/regtest/blocks

# signet
#netmagic=54d26fbd
#genesis=000000850a5c90845788b6f2688e27976da0ef181258378d39764f85baa64780
#input=/home/example/.connectcoin/signet/blocks

# "output" option causes blockchain files to be written to the given location,
# with "output_file" ignored. If not used, "output_file" is used instead.
# output=/home/example/blockchain_directory
output_file=/home/example/Downloads/bootstrap.dat
hashlist=hashlist.txt

# Maximum size in bytes of out-of-order blocks cache in memory
out_of_order_cache_sz = 100000000

# Do we want the reverse the hash bytes coming from getblockhash?
rev_hash_bytes = False

# On a new month, do we want to set the access and modify times of the new
# blockchain file?
file_timestamp = 0
# Do we want to split the blockchain files given a new month or specific height?
split_timestamp = 0

# Do we want debug printouts?
debug_output = False
