# connectcoind RPC settings (linearize-hashes)
rpcuser=someuser
rpcpassword=somepassword
#datadir=~/.connectcoin
host=127.0.0.1

#mainnet default
port=48172

#testnet default
#port=48175

#regtest default
#port=48184

#signet default
#port=48181

# bootstrap.dat hashlist settings (linearize-hashes)
max_height=313000

# bootstrap.dat input/output settings (linearize-data)

# mainnet
netmagic=d951a5e2
genesis=0000013b2ab367b4745451e36501c24bc0e908b3641ec8fcc551ab084726cbd0
input=/home/example/.connectcoin/blocks

# testnet
#netmagic=03848e59
#genesis=000000b6ac175a41f70addde5441b040ee42ef04ff2ba5d1b9c792d8610e8a15
#input=/home/example/.connectcoin/testnet3/blocks

# regtest
#netmagic=a54fc7d5
#genesis=79e876886fc96349e9979c0024589376c85a4a65a5b111ab85f7623ab9c72727
#input=/home/example/.connectcoin/regtest/blocks

# signet
#netmagic=54d26fbd
#genesis=0000016a949240132c535c4e452628985670b26485319ec2c32603b66f56ccc2
#input=/home/example/.connectcoin/signet/blocks

# "output" option causes blockchain files to be written to the given location,
# with "output_file" ignored. If not used, "output_file" is used instead.
# output=/home/example/blockchain_directory
output_file=/home/example/Downloads/bootstrap.dat
hashlist=hashlist.txt

# Maximum size in bytes of out-of-order blocks cache in memory
out_of_order_cache_sz = 100000000

# Do we want the reverse the hash bytes coming from getblockhash?
rev_hash_bytes = False

# On a new month, do we want to set the access and modify times of the new
# blockchain file?
file_timestamp = 0
# Do we want to split the blockchain files given a new month or specific height?
split_timestamp = 0

# Do we want debug printouts?
debug_output = False
